#!/bin/bash

# Scan and Notify New Media Script
# This script scans for new media and sends notifications

#LOG="/home/{{ ansible_user }}/NAS_drive/logs/notify_new_media.log"
#SUMMARY="/tmp/notify_new_media_summary.txt"
#
## Set environment variables
#export HOME="/home/{{ ansible_user }}"
#export USER="{{ ansible_user }}"
#export PYTHONPATH="/home/{{ ansible_user }}/NAS_drive"
#
#{
#  echo "Running new media scan at $(date)"
#  
#  # Run the Python script to scan and notify about new media
#  python /home/{{ ansible_user }}/NAS_drive/functions/notify_new_media.py
#  
#  echo "New media scan completed at $(date)"
#} >> "$LOG" 2>&1
#
## Prepare summary for notification
#{
#  echo "New Media Scan completed at $(date)"
#  echo "Check logs at: $LOG"
#} > "$SUMMARY"
#
## Send summary to notification server
#curl -d "output=$(cat $SUMMARY)" 'http://{{ server_ip }}:{{ ports.ntfy }}/media_updated'


#!/bin/bash

LOG="/home/{{ ansible_user }}/NAS_drive/logs/notify_new_media.log"
SUMMARY="/tmp/notify_new_media_summary.txt"

export HOME="/home/{{ ansible_user }}"
export USER="{{ ansible_user }}"
export PYTHONPATH="/home/{{ ansible_user }}/NAS_drive:${PYTHONPATH}"
export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

{
  echo "Running new media scan at $(date)"
  python3 /home/{{ ansible_user }}/NAS_drive/functions/notify_new_media.py
  echo "New media scan completed at $(date)"
} >> "$LOG" 2>&1

{
  echo "New Media Scan completed at $(date)"
  echo "Check logs at: $LOG"
} > "$SUMMARY"

#curl -d "output=$(cat $SUMMARY)" 'http://{{ server_ip }}:{{ ports.ntfy }}/media_updated'
