INFLUXDB_USERNAME={{ docker_env.INFLUXDB_USERNAME }}
INFLUXDB_PASSWORD={{ docker_env.INFLUXDB_PASSWORD }}
INFLUXDB_ORG={{ docker_env.INFLUXDB_ORG }}
INFLUXDB_BUCKET={{ docker_env.INFLUXDB_BUCKET }}
INFLUXDB_ADMIN_TOKEN={{ docker_env.INFLUXDB_ADMIN_TOKEN }}
GRAFANA_USERNAME={{ docker_env.GRAFANA_USERNAME }}
GRAFANA_PASSWORD={{ docker_env.GRAFANA_PASSWORD }}