UPLOAD_LOCATION={{ docker_env.UPLOAD_LOCATION }}
DB_DATA_LOCATION={{ docker_env.DB_DATA_LOCATION }}
TZ={{ docker_env.TZ }}
IMMICH_VERSION={{ docker_env.IMMICH_VERSION }}
DB_PASSWORD={{ docker_env.DB_PASSWORD }}
DB_USERNAME={{ docker_env.DB_USERNAME }}
DB_DATABASE_NAME={{ docker_env.DB_DATABASE_NAME }}