UPLOAD_LOCATION=/media/{{ mount_point }}/Media/Pictures/immich
DB_DATA_LOCATION=/media/{{ mount_point }}/Media/Metadata/immich/postgres
TZ={{ docker_env.TZ }}
IMMICH_VERSION={{ docker_env.IMMICH_VERSION }}
DB_PASSWORD={{ docker_env.DB_PASSWORD }}
DB_USERNAME={{ docker_env.DB_USERNAME }}
DB_DATABASE_NAME={{ docker_env.DB_DATABASE_NAME }}