NEXTCLOUD_VERSION={{ docker_env.NEXTCLOUD_VERSION }}
MARIADB_VERSION={{ docker_env.MARIADB_VERSION }}
MYSQL_ROOT_PASSWORD={{ docker_env.MYSQL_ROOT_PASSWORD }}
MYSQL_PASSWORD={{ docker_env.MYSQL_PASSWORD }}
MYSQL_DATABASE={{ docker_env.MYSQL_DATABASE }}
MYSQL_USER={{ docker_env.MYSQL_USER }}
NEXTCLOUD_ADMIN_USER={{ docker_env.NEXTCLOUD_ADMIN_USER }}
NEXTCLOUD_ADMIN_PASSWORD={{ docker_env.NEXTCLOUD_ADMIN_PASSWORD }}