SECRET_KEY={{ docker_env.SECRET_KEY }}
DB_ENGINE={{ docker_env.DB_ENGINE }}
POSTGRES_HOST={{ docker_env.POSTGRES_HOST }}
POSTGRES_DB={{ docker_env.POSTGRES_DB }}
POSTGRES_PORT={{ docker_env.POSTGRES_PORT }}
POSTGRES_USER={{ docker_env.POSTGRES_USER }}
POSTGRES_PASSWORD={{ docker_env.POSTGRES_PASSWORD }}