services:
  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:{{ docker_env.HOME_ASSISTANT_VERSION }}
    container_name: homeassistant
{% if home_assistant.host_network %}
    network_mode: host
{% else %}
    ports:
      - {{ ports.home_assistant }}:8123
{% endif %}
    volumes:
      - "{{ home_assistant.config_dir }}:/config"
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ={{ home_assistant.time_zone }}
    restart: always
