{
  "HD_map": {
    {% for volume in volumes %}
      "{{ volume }}": {
        "name": "{{ volume }}",
        "back_up_name": "BU_{{ loop.index }}",
        "GPIO_pin": 18
      }{% if not loop.last %},{% endif %}
    {% endfor %}
  }
}
