# Create directories required by komga
- name: Create directories
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0777'
  loop:
    - /media/{{ mount_point }}/Media/Metadata/audio_bookshelf/metadata
    - /media/{{ mount_point }}/Media/Metadata/audio_bookshelf/config


- name: Template the docker-compose file
  template:
    src: abs_compose/docker-compose.yml.j2
    dest: /home/{{ ansible_env.USER }}/NAS_drive/ansible/tasks/abs_compose/docker-compose.yml

- name: Create and start ABS
  become: true
  community.docker.docker_compose_v2:
    project_src: /home/{{ ansible_env.USER }}/NAS_drive/ansible/tasks/abs_compose
  register: output    