- name: Crontab - setup update and upgrade
  become: true 
  ansible.builtin.cron:
    name: "Update and upgrade"
    minute: "0"
    hour: "4"
    job: "apt update -q -y && apt dist-upgrade -q -y"

- name: Clear APT Cache
  become: true 
  ansible.builtin.cron:
    name: "Update and upgrade"
    minute: "15"
    hour: "4"
    job: "apt-get clean"

###############################################################
- name: Vacuum journal logs older than 1 week
  become: yes
  cron:
    name: "Vacuum journal logs"
    minute: "0"
    hour: "0"
    day: "*"
    week: "*"
    month: "*"
    job: "/usr/bin/journalctl --vacuum-time=1w"
    state: present
#############################################################

- name: Add HD backup to cron tab
  become: true
  ansible.builtin.cron:
    name: "External HD backup script"
    minute: "0"
    hour: "5"
    job: "python /home/{{ ansible_user }}/NAS_drive/functions/back-up.py"
    environment:
      HOME: "/home/{{ ansible_user }}"
      USER: "{{ ansible_user }}"


- name: Scan and notify for new media
  become: true
  ansible.builtin.cron:
    name: "Scan and notify for new media"
    minute: "0"
    hour: "17"
    job: "HOME=/home/{{ ansible_user }} USER={{ ansible_user }} python /home/{{ ansible_user }}/NAS_drive/functions/notify_new_media.py"


- name: Daily Reboot
  become: true
  ansible.builtin.cron:
    name: "Daily reboot"
    minute: "0"
    hour: "7"
    job: "HOME=/home/{{ ansible_user }} USER={{ ansible_user }} sudo reboot"
