# Playbook to automate the installation of Git and configure global Git settings.

# Installs Git using the system package manager
- name: Install Git
  ansible.builtin.apt:
    name: git
    state: present

# Sets the default Git editor to nano globally
- name: Setup editor
  community.general.git_config:
    name: core.editor
    scope: global
    value: nano

# Configures the global Git user email address
- name: Setup email
  community.general.git_config:
    name: user.email
    scope: global
    value: "{{ docker_env.GIT_USER_EMAIL }}"

# Configures the global Git username
- name: Setup name
  community.general.git_config:
    name: user.name
    scope: global
    value: "{{ docker_env.GIT_USER_NAME }}"

# Clones the specified Git repository into the user's home directory
- name: Clone repository
  ansible.builtin.git:
    repo: https://github.com/scottolivermorgan/NAS_drive.git
    dest: /home/{{ ansible_env.USER }}/NAS_drive
    version: nc_upgrades
