- name: Install fail2ban and ufw
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  loop:
    - fail2ban
    - ufw

- name: Open HTTP port
  become: true
  community.general.ufw:
    rule: allow
    port: "{{ ports.http }}"

- name: Open HTTPS port
  become: true
  community.general.ufw:
    rule: allow
    port: "{{ ports.https }}"

- name: Open Jellyfin port
  become: true
  community.general.ufw:
    rule: allow
    port: "{{ ports.jellyfin }}"

- name: Open Komga port
  become: true
  community.general.ufw:
    rule: allow
    port: "{{ ports.komga }}"

- name: Open SSH port
  become: true
  community.general.ufw:
    rule: allow
    port: "{{ ports.ssh }}"

- name: Audiobookshelf port
  become: true
  community.general.ufw:
    rule: allow
    port: "{{ ports.audiobookshelf }}"

- name: Nextcloud port
  become: true
  community.general.ufw:
    rule: allow
    port: "{{ ports.nextcloud }}"

- name: Immich port
  become: true
  community.general.ufw:
    rule: allow
    port: "{{ ports.immich }}"

- name: Tandoor port
  become: true
  community.general.ufw:
    rule: allow
    port: "{{ ports.tandoor | default(8081) }}"

- name: Ntfy port
  become: true
  community.general.ufw:
    rule: allow
    port: "{{ ports.ntfy }}"

- name: qbittorrent webUI port
  become: true
  community.general.ufw:
    rule: allow
    port: "{{ ports.qbittorrent_web | default(9080) }}"

- name: qbittirrent torrenting port
  become: true
  community.general.ufw:
    rule: allow
    port: "{{ ports.qbittorrent_torrent }}"

- name: Radarr port
  become: true
  community.general.ufw:
    rule: allow
    port: "{{ ports.radarr }}"

- name: Sonarr port
  become: true
  community.general.ufw:
    rule: allow
    port: "{{ ports.sonarr }}"

- name: Prowlarr port
  become: true
  community.general.ufw:
    rule: allow
    port: "{{ ports.prowlarr }}"

- name: Bazarr port
  become: true
  community.general.ufw:
    rule: allow
    port: "{{ ports.bazarr }}"

- name: Influxdb port
  become: true
  community.general.ufw:
    rule: allow
    port: "{{ ports.influxdb }}"

- name: Grafana port
  become: true
  community.general.ufw:
    rule: allow
    port: "{{ ports.grafana }}"

- name: Enable UFW
  become: true
  ansible.builtin.shell: ufw --force enable
  args:
    executable: /bin/bash
