- name: Create directories
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - /media/{{ mount_point }}/Media/Metadata/jellyfin/config
    - /media/{{ mount_point }}/Media/Metadata/jellyfin/cache


- name: Template the docker-compose file
  template:
    src: jellyfin_compose/docker-compose.yml.j2
    dest: /home/{{ ansible_env.USER }}/NAS_drive/ansible/tasks/jellyfin_compose/docker-compose.yml


- name: Create and start Jellyfin
  become: true
  community.docker.docker_compose_v2:
    project_src: /home/{{ ansible_env.USER }}/NAS_drive/ansible/tasks/jellyfin_compose
  register: output

