- name: Template the docker-compose file
  template:
    src: nextcloud_compose/docker-compose.yml.j2
    dest: /home/{{ ansible_env.USER }}/NAS_drive/ansible/tasks/nextcloud_compose/docker-compose.yml    

- name: Create and start Nextcloud and mariaDB
  become: true
  community.docker.docker_compose_v2:
    project_src: /home/{{ ansible_env.USER }}/NAS_drive/ansible/tasks/nextcloud_compose
  register: output
