- name: Template the docker-compose file
  template:
    src: nextcloud_compose/docker-compose.yml.j2
    dest: /home/{{ ansible_env.USER }}/NAS_drive/ansible/tasks/nextcloud_compose/docker-compose.yml    


- name: Create and start Nextcloud and mariaDB
  become: true
  community.docker.docker_compose_v2:
    project_src: /home/{{ ansible_env.USER }}/NAS_drive/ansible/tasks/nextcloud_compose
  register: output


- name: Wait for Nextcloud to respond on HTTP
  uri:
    url: "http://{{ server_ip }}:{{ ports.nextcloud }}"
    status_code: 200
  register: result
  retries: 20
  delay: 10
  until: result.status == 200



- name: Rescan all user files
  community.docker.docker_container_exec:
    container: nextcloud
    user: www-data
    command: php /var/www/html/occ files:scan --all



- name: Enable external storage app
  become: true
  community.docker.docker_container_exec:
    container: nextcloud
    user: www-data
    command: php /var/www/html/occ app:enable files_external


- name: Add external storage folder
  become: true
  community.docker.docker_container_exec:
    container: nextcloud
    user: www-data
    command: >
      php /var/www/html/occ files_external:create "{{ docker_env.NEXTCLOUD_EXTERNAL_FOLDER }}"
         local null::null -c datadir=/media/{{ mount_point }}


- name: Set maintenance window start in config.php
  become: true
  community.docker.docker_container_exec:
    container: nextcloud
    user: www-data
    command: >
      bash -c "php /var/www/html/occ config:system:set maintenance_window_start --value='{{ docker_env.NEXTCLOUD_MAINTENECE_START_HOUR }}'"


- name: Set default phone region
  become: true
  community.docker.docker_container_exec:
    container: nextcloud
    user: www-data
    command: >
      php /var/www/html/occ config:system:set default_phone_region --value='{{ docker_env.NEXTCLOUD_REGION }}'


- name: Run expensive maintenance repair (mimetype migrations)
  become: true
  community.docker.docker_container_exec:
    container: nextcloud
    user: www-data
    command: php /var/www/html/occ maintenance:repair --include-expensive
  register: repair_output
  changed_when: "'Repair step' in repair_output.stdout"


- name: Make sure AppAPI is disabled
  become: true
  community.docker.docker_container_exec:
    container: nextcloud
    user: www-data
    command: php /var/www/html/occ app:list
  register: app_list

- name: Disable AppAPI if enabled
  become: true
  when: "'app_api' in app_list.stdout and 'Enabled:' in app_list.stdout"
  community.docker.docker_container_exec:
    container: nextcloud
    user: www-data
    command: php /var/www/html/occ app:disable app_api

