- name: Template the docker-compose file
  template:
    src: nextcloud_compose/docker-compose.yml.j2
    dest: /home/{{ ansible_env.USER }}/NAS_drive/ansible/tasks/nextcloud_compose/docker-compose.yml    


- name: Create and start Nextcloud and mariaDB
  become: true
  community.docker.docker_compose_v2:
    project_src: /home/{{ ansible_env.USER }}/NAS_drive/ansible/tasks/nextcloud_compose
  register: output


- name: Enable external storage app
  become: true
  community.docker.docker_container_exec:
    container: nextcloud
    command: occ app:enable files_external


- name: Add external storage folder
  become: true
  community.docker.docker_container_exec:
    container: nextcloud
    command: >
      occ files_external:create "{{ docker_env.NEXTCLOUD_EXTERNAL_FOLDER }}"
         local null::null -c datadir=/media/{{ mount_point }}
