- name: Template the docker-compose.yml file
  become: true
  template:
    src: tasks/ntfy_compose/docker-compose.yml.j2
    dest: /home/{{ ansible_user }}/NAS_drive/ansible/tasks/ntfy_compose/docker-compose.yml


- name: Template the server.yml file
  become: true
  template:
    src: tasks/ntfy_compose/server.yml.j2
    dest: /home/{{ ansible_user }}/NAS_drive/ansible/tasks/ntfy_compose/server.yml


- name: Create and start ntfy
  become: true
  community.docker.docker_compose_v2:
    project_src: /home/{{ ansible_env.USER }}/NAS_drive/ansible/tasks/ntfy_compose
  register: output