# Ansible playbook for managing swap configuration on a system.
# It disables swap, modifies the swap size in the configuration file,
# sets up swap, and finally enables swap.

# Disables current swap usage to allow changes to swap configuration
- name: Disable swap
  ansible.builtin.command: dphys-swapfile swapoff
  become: true

# Updates the swap size value in the dphys-swapfile configuration
- name: Edit swap
  ansible.builtin.lineinfile:
    path: /etc/dphys-swapfile
    regexp: '^CONF_SWAPSIZE'
    line: "CONF_SWAPSIZE={{ docker_env.SWAP_SIZE_MB }}"
  become: true

# Reinitializes the swapfile with the new configuration
- name: Setup swap
  ansible.builtin.command: dphys-swapfile setup
  become: true
  register: setup_swap
  changed_when: setup_swap.rc != 0

# Re-enables swap with the new settings
- name: Enable swap
  ansible.builtin.command: dphys-swapfile swapon
  become: true
  register: enable_swap
  changed_when: enable_swap.rc != 0
