version: "3.7"

services:
  jellyfin:
    image: jellyfin/jellyfin:2024101405
    ports:
      - 8096:8096
    volumes:
      - "/media/HD_1/Media/Metadata/jellyfin/config:/config"
      - "/media/HD_1/Media/Metadata/jellyfin/cache:/cache"
{% for volume in volumes %}
      - /media/{{ volume }}:/media/{{ volume }}
{% endfor %}
    restart: unless-stopped
