services:
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:{{ docker_env.ABS_VERSION }}
    container_name: audiobookshelf
    ports:
      - {{ ports.audiobookshelf }}:80
    volumes:
      - /media/{{ mount_point }}:/media/{{ mount_point }}
      - /media/{{ mount_point }}/Media/Metadata/audio_bookshelf/metadata:/metadata
      # The config directory needs to be on the same physical machine
      # you are running ABS on
      - /media/{{ mount_point }}/Media/Metadata/audio_bookshelf/config:/config
    restart: always
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://{{ server_ip }}:13378/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s